@import 'normalize.css';
@import 'reset.css';
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

* {
    font-family: "Space Grotesk", serif;
}

body {
    background-color: #7945FF;
}

main {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    padding-top: 70px;
    padding-bottom: 60px;
    background-color: #7945FF;
    border: 3px solid black;
    border-radius: 12px;
    box-shadow: 0px 8px 0px 0px #000000;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

nav button {
    background-color: #5C2DD5;
    border: none;
    height: fit-content;
    padding: 21px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 20px;
    color: white;
    font-weight: 700;
    cursor: pointer;
    transition-duration: 0.3s;
}

nav button:hover {
    background-color: #FD6687;
}


.start-game-btn {
    width: 100%;
    display: flex;
    gap: 100px;
    align-items: center;
    font-size: 24px;
    font-weight: 700;
    background-color: #FFCE67;
    border: 3px solid #000000;
    border-radius: 20px;
    padding: 16px;
    box-shadow: 0px 10px 0px 0px #000000;
    margin-top: 70px;
    margin-bottom: 30px;
    cursor: pointer;
}

.start-game-btn:hover {
    box-shadow: 0px 10px 0px 0px #5C2DD5;
}

.rules-btn {
    width: 100%;
    text-align: left;
    font-size: 24px;
    font-weight: 700;
    background-color: #ffffff;
    border: 3px solid #000000;
    border-radius: 20px;
    padding: 16px;
    box-shadow: 0px 10px 0px 0px #000000;
    cursor: pointer;
}

.rules-btn:hover {
    box-shadow: 0px 10px 0px 0px #5C2DD5;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    background-color: white;
    padding: 20px;
    padding-bottom: 60px;
    border: 3px solid black;
    border-radius: 32px;
    box-shadow: 0px 16px 0px 0px #000000;
}



.board-cell {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: #7945FF;
    border: 3px solid black;
    box-shadow: inset 0px 8px 0px 0px #000000;
    cursor: pointer;
}

.winner-indicator {
    position: absolute;
    transform: translate(-50%, 0%);
    bottom: 0;
    left: 50%;
    width: 100%;
    height: 24%;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    background-color: #5C2DD5;
    z-index: -1;
    transition-duration: 0.2s;
}

.red-circle {
    background-color: #FD6687;
    box-shadow: inset 0px 6px 0px 0px rgba(0, 0, 0, 0.41);
}

.yellow-circle {
    background-color: #FFCE67;
    box-shadow: inset 0px 6px 0px 0px rgba(0, 0, 0, 0.41);
}

.winner-red-circle {
    transform: translate(50%, 50%);
    width: 34px;
    height: 34px;
    border: 6px solid white;
    outline: 16px solid #FD6687;
    box-shadow: none;
}

.winner-yellow-circle {
    transform: translate(50%, 50%);
    width: 34px;
    height: 34px;
    border: 6px solid white;
    outline: 16px solid #FFCE67;
    box-shadow: none;
}





.player-board {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    padding-left: 24px;
    padding-right: 24px;
    font-weight: 700;
    box-shadow: 0px 16px 0px 0px #000000;
    border: 3px solid black;
}

.player {
    position: absolute;
    margin-top: -60px;
    transform: translate(50%, 50%);
}


.player-board svg {
    position: relative;
    top: -25px;
}

.player-board p {
    font-size: 56px;
}

.game {
    display: flex;
    align-items: center;
    gap: 60px;
}



.rules-screen {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
    background-color: white;
    padding: 24px;
    border-radius: 40px;
    box-shadow: 0px 10px 0px 0px #000000;
    border: 3px solid black;
    padding-top: 30px;
}

.rules-screen * {
    max-width: 456px;
}

.rules-screen h2 {
    text-align: center;
    font-weight: 700;
    font-size: 56px;
    margin-bottom: 29px;
}

.rules-screen h3 {
    color: #7945FF;
    margin-bottom: 16px;
    font-size: 20px;
}

.rules-screen p,
li {
    opacity: 70%;
    margin-bottom: 10px;
    font-size: 16px;

}

.rules-screen p {
    margin-bottom: 29px;
}

ol {
    padding-left: 15px;
}

.close-rules-btn {
    opacity: 100%;
    align-self: center;
    width: 64px;
    height: 64px;
    background-color: #FD6687ed;
    border: 3px solid black;
    box-shadow: 0px 5px 0px 0px #000000;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: -55px;
    cursor: pointer;
}




.game-pause-menu {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    background-color: #7945FF;
    padding: 40px;
    box-shadow: 0px 10px 0px 0px #000000;
    border: 3px solid black;
    border-radius: 40px;
    text-align: center;
}

.game-pause-menu h2 {
    color: #FFFFFF;
    font-size: 56px;
    font-weight: 700;
}

.game-pause-menu button {
    width: 90%;
    padding: 21px;
    background-color: #FFFFFF;
    box-shadow: 0px 10px 0px 0px #000000;
    border: 3px solid black;
    border-radius: 20px;
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 32px;
    cursor: pointer;
}

.game-pause-menu button:hover {
    box-shadow: 0px 10px 0px 0px #5C2DD5;

}

.game-menu-quit-btn {
    background-color: #FD6687 !important;
    color: white;
}


.time-indicator {
    position: absolute;
    bottom: -8vh;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 198px;
    height: 164px;
    padding-top: 40px;
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
}

.time-indicator p {
    font-weight: 700;
    font-size: 56px;
    line-height: 72px;
}


.red-turn {
    background-image: url(../images/turn-background-red.svg);
    color: white;
}

.yellow-turn {
    background-image: url(../images/turn-background-yellow.svg);
    color: white;
}


.winner {
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    box-shadow: 0px 10px 0px 0px #000000;
    border: 3px solid black;
    text-align: center;
    padding: 74px;
    padding-top: 16px;
    padding-bottom: 16px;
    border-radius: 20px;
}

.winner h2 {
    font-size: 56px;
}

.winner button {
    background-color: #5C2DD5;
    color: white;
    font-weight: 700;
    font-size: 16px;
    border: none;
    border-radius: 20px;
    padding: 8px;
    padding-left: 22px;
    padding-right: 22px;
    cursor: pointer;
}




.hidden {
    display: none;
}